In [95]:
# import pandas library
import pandas as pd
import numpy as np

In [96]:
# loading our first dataset description
# cells_geo_description.xlsx

# df stands for dataframe

df1 = pd.read_excel('cells_geo_description.xlsx', index_col=0)
df1

                                                    Description  Format
Column name
VILLES                                                     City  String
STATUS                                        In Service or not  String
LOCALISATION                                  in ABIDJAN or not  String
DECOUPZONE                                    Geographical Zone  String
ZONENAME                                           Name of Zone  String
LONGITUDE                                             Longitude   Float
LATITUDE                                               Latitude   Float
REGION                                                   Region  String
AREA                                                       Area  String
CELL_ID                                          ID of the cell  String
SITE_CODE     Site (there are several cells per site, severa...  String

In [97]:
# load our second dataset
# cells_geo.csv

geo_dataset = pd.read_csv('cells_geo.csv',index_col=0, delimiter=';')
geo_dataset.head(10)

     VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0    ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1    ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2    ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3   ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4   ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f
5   ASSINIE  In Service    INTERIEUR  ...  NaN  0b4f56438f  8a1e6ce31f
6  KRIKOREA  In Service    INTERIEUR  ...  NaN  041d2504f5  260dbfedc5
7     ABOBO  In Service      ABIDJAN  ...  NaN  a70c1d263b  56306cc7ca
8     ABOBO  In Service      ABIDJAN  ...  NaN  e2d04ea883  56306cc7ca
9     ABOBO         NaN      ABIDJAN  ...  NaN  ee224cd27e  56306cc7ca

[10 rows x 11 columns]

In [98]:
# load our third dataset
# CDR_description.xlsx

df2 = pd.read_excel('CDR_description.xlsx')
df2

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [99]:
# Load our Telcom dataset1
# CDR 20120507

url = 'http://bit.ly/Telcom_dataset1'

dataset1 = pd.read_csv(url, delimiter=',')
dataset1.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [100]:
# load our Telcom dataset2
# CDR 20120508

url = 'http://bit.ly/Telcom_dataset2'

dataset2 = pd.read_csv(url)
dataset2.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [103]:
# load our Telcom dataset3
# CDR 20120509

url = 'http://bit.ly/Telcom_dataset3'

dataset3 = pd.read_csv(url)
dataset3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [104]:
# rename the Telcom dataset1 column names
dataset1.columns = ['PRODUCT','VALUE','DATE-TIME','CELL ON SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
dataset1.head()

  PRODUCT  VALUE              DATE-TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [105]:
# rename the Telcom dataset2 column names

dataset2.columns =['PRODUCT','VALUE','DATE-TIME','CELL ON SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
dataset2.head()

  PRODUCT  VALUE              DATE-TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [106]:
# rename the Telcom dataset3 column names

dataset3.columns =['PRODUCT','VALUE','DATE-TIME','CELL ON SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
dataset3.head()

  PRODUCT  VALUE              DATE-TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [107]:
# Merge the three Telcom datasets
# dataset1, dataset2, dataset3

Telcom_datasets = pd.concat([dataset1,dataset2,dataset3],ignore_index=True)
Telcom_datasets.head()

  PRODUCT  VALUE              DATE-TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [108]:
# remove duplicates from the Telcom dataset

Telcom_datasets =Telcom_datasets.drop_duplicates()
Telcom_datasets.head()

  PRODUCT  VALUE              DATE-TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [110]:
Telcom_datasets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14750 entries, 0 to 15002
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          14750 non-null  object
 1   VALUE            14750 non-null  int64
 2   DATE-TIME        14750 non-null  object
 3   CELL ON SITE     14750 non-null  object
 4   DW_A_NUMBER_INT  14750 non-null  object
 5   DW_B_NUMBER_INT  14750 non-null  object
 6   COUNTRY_A        14750 non-null  object
 7   COUNTRY_B        14750 non-null  object
 8   CELL_ID          14750 non-null  object
 9   SITE_ID          12789 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [111]:
geo_dataset.columns

Index(['VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME',
       'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID', 'SITE_CODE'],
      dtype='object')

In [112]:
# rename the geo dataset columns
geo_dataset.columns=['VILLES','STATUS','LOCALISATION','DECOUPZONE','ZONENAME','LONGITUDE','LATITUDE','REGION','AREA','CELL_ID','SITE_ID']
geo_dataset.head()

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID     SITE_ID
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

In [113]:
# Merge the Telcom_dataset and geo_dataset
Final = Telcom_datasets.merge(geo_dataset,on='SITE_ID')
Final.head()

  PRODUCT  VALUE  ...          AREA   CELL_ID_y
0     sms      0  ...  CENTRE NORTH  24ccdda3d5
1     sms      0  ...  CENTRE NORTH  ebfc58af70
2     sms      0  ...  CENTRE NORTH  ba8ce6e4ef
3     sms      0  ...  CENTRE NORTH  c2545171dc
4     sms      0  ...  CENTRE NORTH  f15bd5483f

[5 rows x 20 columns]

In [114]:
Final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50318 entries, 0 to 50317
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          50318 non-null  object
 1   VALUE            50318 non-null  int64
 2   DATE-TIME        50318 non-null  object
 3   CELL ON SITE     50318 non-null  object
 4   DW_A_NUMBER_INT  50318 non-null  object
 5   DW_B_NUMBER_INT  50318 non-null  object
 6   COUNTRY_A        50318 non-null  object
 7   COUNTRY_B        50318 non-null  object
 8   CELL_ID_x        50318 non-null  object
 9   SITE_ID          50318 non-null  object
 10  VILLES           50318 non-null  object
 11  STATUS           49615 non-null  object
 12  LOCALISATION     50318 non-null  object
 13  DECOUPZONE       50318 non-null  object
 14  ZONENAME         50300 non-null  object
 15  LONGITUDE        50318 non-null  float64
 16  LATITUDE         50318 non-null  float64
 17  REGION           50318 non-null  object
 18  AREA             50062 non-null  object
 19  CELL_ID_y        50318 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 8.1+ MB

In [115]:
# Most visited City
Final.VILLES.describe()

count        50318
unique         400
top       YOPOUGON
freq          8549
Name: VILLES, dtype: object

In [116]:
# City with low coverage area
Final['no per area']=1
Numbers = Final.groupby('VILLES').count().sort_values(by='AREA')

In [117]:
Coverage = pd.DataFrame(Numbers['no per area'].head())
Coverage

             no per area
VILLES
KOTOULA                2
DANANON                2
DJENIDOUFLA            3
DJOUKOUYO              3
DAKPADOU               3

In [118]:
# city with high coverage area
Final['Number in Area']=1
Numbers =Final .groupby('VILLES').count().sort_values(by='AREA', ascending=False)

In [119]:
Coverage = pd.DataFrame(Numbers['Number in Area'].head())
Coverage

          Number in Area
VILLES
YOPOUGON            8549
ABOBO               6159
COCODY              3716
ADJAME              2655
KOUMASSI            2275